body{
  font-family: Arial, sans-serif;
  background-image: url(love.jpg);
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
  align-items:center;
}

/* NAVBAR FIX */
.fContainer {
  width: 100%;
  background: pink;
  position: sticky;   /* navbar nempel di atas */
  top: 0;
  z-index: 1000;
}

/* wrapper navbar */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  background: rgb(255, 0, 140);  /* PENTING: biar tidak tembus */
  border-radius: 0 0 20px 20px;
  padding: 15px 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


.brand{
  display:flex;
  align-items:center;
}

.logo-alt{
  width:60px;
}

.firstname{
  color:white;
  font-weight:700;
  padding-left:10px;
}

/* MENU */
.container{
  width:50%;
}

h1{
  text-align:center;
  font-family:"Silkscreen", sans-serif;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
  gap:20px;
}

.product-card{
  background:white;
  padding:15px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,.15);
  text-align:center;
}

.product-card img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:12px;
}

.product-price{
  color:#27ae60;
  font-weight:bold;
}

/* CART */
.cart{
  background:white;
  margin:30px;
  padding:15px;
  width:95%;
  max-width:420px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.cart-item{
  display:flex;
  gap:10px;
  border-bottom:1px solid #eee;
  padding-bottom:10px;
}

.cart-img{
  width:70px;
  height:70px;
  border-radius:10px;
  object-fit:cover;
}

/* POPUP */
#paymentPopup,#thankyouPage{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  display:none;
  justify-content:center;
  align-items:center;
}

.popupBox,.thankBox{
  background:white;
  padding:30px;
  border-radius:20px;
  text-align:center;
}

button{
  padding:10px 15px;
  background:black;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
}
